.cpdiv {
    margin: 40px;
    padding: 40px;
    padding-left: 16%;
  }
  
  .cpforminput {
    display: block;
    width: 80%;
    height: 60px;
    margin: 10px;
    padding: 4px 10px;
    font-size: 14px;
  }
  
  .cpbutton {
    background-color: transparent;
    border: 2px solid transparent;
    color: purple;
    font-size: 1rem;
    font-family: inherit;
    max-width: 50px;
    padding: 0.5rem 0.5rem;
    padding-left: 75%;
  }