@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid transparent;
  color: purple;
  font-size: 1rem;
  font-family: inherit;
  max-width: 50px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: darkmagenta;
}

body {
  background-image: radial-gradient(circle, #ffffff, #fbfafe, #f6f5fd, #f2f1fc, #edecfb, #e5e5f7, #deddf3, #d6d6ef, #cacae6, #bebfde, #b3b3d5, #a7a8cd);
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.forminput {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


.socialfeed {
  padding: 25px;
  text-align: -webkit-center;
  margin: 8rem;
}

.socialfeedname {
  text-align: center;
  color: #454555;
  font-size: 3rem;
}

.formcontrol {
  border-bottom-style: groove;
  padding-bottom: 30px;
}

.post {
  box-sizing: border-box;
  border-style: hidden;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  height: 387px;
  margin: 5rem;
  border-bottom-style: groove;
}

.posttext {
  font-size: initial;
  font-weight: 500;
  padding: 50px;
}

.postedit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  box-shadow: #454555;
  border-style: inset;
  border-color: #a7a8cd;
  flex-wrap: wrap;
  margin: 20%;
}

.postform {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.likedbutton {
color: green;
box-sizing: border-box;
border-style: solid;
padding-right: 2%;
}

.dislikedbutton {
  color: red;
  padding-right: 18%;
  padding-left: 25px;
}

.reply {
  padding-left: 10%;
  box-sizing: border-box;
  border-style: hidden;
  flex-wrap: wrap;
  border-bottom-style: ridge;
}

.replytext {
  font-size: initial;
  font-weight: 550;
  padding: 20px;
}

.replyform {
  padding-left: 30px;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.likes {
  padding: 10px;
  padding-right: 10px;
  padding-left: 70%;
}

.login {
  display: flex;
  padding: 40px;
  justify-content: center;
}

.loginpage {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.formlogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding-left: 20px;
}

.containerlogin {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  padding-left: 60px;
  padding-top: 200px;
}

.logoutdiv {
  display: flex;
  padding: 35px;
  justify-content: center;
}

.logoutpage {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.logout {
  padding-left: 55px;
  padding-top: 15px;
}
.containerlogout {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  padding-left: 60px;
  padding-top: 200px;
}

.home {
  font-size: 46px;
  font-weight: 575;
  text-transform: uppercase;
}

.recommendation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  box-shadow: #454555;
  border-style: inset;
  border-color: #a7a8cd;
  flex-wrap: wrap;
  margin: 20%;
}

.recommendform {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.nonrecommendation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  box-shadow: #454555;
  border-style: inset;
  border-color: #a7a8cd;
  flex-wrap: wrap;
  margin: 20%;
}

.nonrecommendform {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.infoedit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  box-shadow: #454555;
  border-style: inset;
  border-color: #a7a8cd;
  flex-wrap: wrap;
  margin: 20%;
}

.infoform {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}