@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid white;
  color: purple;
  font-size: 1rem;
  font-family: inherit;
  max-width: 50px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.forminput {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.table {
  box-sizing: border-box;
  border-style: double;
  border-color: lavender;
  flex-wrap: wrap;
  padding: 15px;
  margin: 35px
}

.post {
  box-sizing: border-box;
  border-style: hidden;
  flex-wrap: wrap;
  border-bottom-style: ridge;
  padding: 20px;
}


.posttext {
  font-size: initial;
  font-weight: 500;
}
.likedbutton {
color: green;
box-sizing: border-box;
border-style: solid;
}

.dislikedbutton {
  color: red;
}

.profile {
  text-align: -webkit-center;
}

.profileuser {
  font-family: cursive;
  text-align-last: center;
  font-weight: 300;
  font-size: 45px;
}


.socialfeed {
  padding: 20px;
}

.socialfeedname {
  text-align: center;
}

.formcontrol {
  border-bottom-style: ridge;
}

.userlink {
  padding-right: 5rem;
  font-weight: 300;
  font-size: 25px;
}

.editlink {
  padding-left: 5rem;
  font-weight: 300;
  font-size: 17px;
}